{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Donor</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'patient/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'patient/css/sb-admin-2.min.css'%}" rel="stylesheet">
    <style>
        select{
            width: 100%;
            height: 50px;
            border-radius: 60px;
            outline: none;
            border-color:rgb(158, 173, 185);
        }

    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
                    <div class="col-lg">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add Patient Details</h1>
                            </div>
                            <form class="user" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Patient Name" name="name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Age" name="age">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Address" name="Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="number" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Contact No" name="Contact">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="E-Mail ID" name="mail">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="country" name="country">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="district" name="district">
                                    </div>
                                </div>
                                <div class="form-group row">
                                   
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Gender" name="genter">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="blood_group">Blood Group:</label><br>
                                        <select id="blood_group" name="blood_group">
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                        </select><br><br>
        
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="organs_to_donate">Needed Organ:</label><br>
                                            <select id="organs_to_donate" name="needed_organ">
                                                <option value="Heart">Heart</option>
                                                <option value="Liver">Liver</option>
                                                <option value="Kidney">Kidney</option>
                                                <option value="Lung">Lung</option>
                                                <option value="Pancreas">Pancreas</option>
                                                <option value="Intestine">Intestine</option>
                                            </select><br><br>
                                    </div>
                                </div>
                                {% comment %} <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="status">available:</label>
                                        <input type="checkbox" class="form-control form-control-user" id="status"
                                        placeholder="available" name="status">
                                    </div>
                                </div> {% endcomment %}

                                
                                <button class="btn btn-primary btn-user btn-block" type="submit">Add</button> 
                                    
                                
                                <a href="{% url 'intex_1' %}" class="btn btn-primary btn-user btn-block">
                                    Back
                                </a>
                                
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'patient/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'patient/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'patient/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'patient/js/sb-admin-2.min.js'%}"></script>

</body>

</html>