{% extends 'patient/base.html' %}
{% load static %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">View Send Request</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">View Send Request</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Donor Name</th>
                                            <th>mail</th>          
                                            <th>age</th>                
                                            <th>organs_to_donate</th>                   
                                            <th>status</th>
                                            
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                    
                                        {% for i in requests %}
                                        
                                        <tr>
                                            <th>{{i.donor_name}}</th>
                                            
                                            <th>{{i.donor_email}}</th>                   
                                            
                                            
                                            <th>{{i.donor_age}}</th>
                                            
                                            <th>{{i.needed_organ}}</th>
                                            
                                            <th>{% if i.status %}
                                                    Approved
                                                {% else %}
                                                    Processing
                                                {% endif %}</th>
                                            
                                          
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                        
                                        
                                       
                                
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}