{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Donor</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'donor/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'donor/css/sb-admin-2.min.css'%}" rel="stylesheet">
    <style>
        .spa{
            color: red;
            font-weight: 900;
        }
        .formm{
            width: 200px;
            height: 200px;
        }
    </style>
    

</head>
<body>
    <div>
        <h2 style="padding-top: 20px;">Are you sure you want to delete the donor details for <span class="spa">{{ request.user.name }}?</span></h2>

        <form method="post" action="{% url 'delete_donor_details' donor.id %}" class="formm">
            {% csrf_token %}
            <button class="btn btn-primary btn-user btn-block mx-auto" type="submit">Delete Donor Detail</button> 
            
            
            <a href="{% url 'view_donor_details' donor.id %}" class="btn btn-primary btn-user btn-block">
                Back
            </a>
        </form>

    </div>

  
  

  

  
  <!-- Bootstrap core JavaScript-->
    <script src="{% static 'donor/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'donor/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'donor/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'donor/js/sb-admin-2.min.js'%}"></script>

</body>
</html>
